<div class="bg-[#F3F3F3] px-2 py-2 mt-10">
  <div class="max-w-6xl mx-auto mt-10">
    <div class="grid grid-cols-4 gap-4">
      <div class="">
        <p class="text-lg">Hệ thống của hàng</p>
        <div class="text-xs">
          <p class="mt-3">242 Thái Hà, Q.Đống Đa, HN</p>
          <p class="py-2">20 Dương Quảng Hàm, Q.Cầu Giấy, HN</p>
          <p>11 Dương Quảng Hàm, Q.Cầu Giấy, HN</p>
          <p class="py-2">63 Đại Cổ Việt, Q.Hai Bà Trưng, HN</p>
          <p>296 Nguyễn Trãi, Q.Nam Từ Liêm, HN</p>
        </div>
      </div>
      <div class="">
        <p class="text-lg">Hỗ trợ khách hàng</p>
        <div class="list-none">
          <li class="mt-2">
            <a href="" class="hover:text-red-500 text-xs">Hướng Dẫn Mua Hàng</a>
          </li>
          <li class="py-2">
            <a href="" class="hover:text-red-500 text-xs"
              >Hình Thức Thanh Toán</a
            >
          </li>
          <li class="">
            <a href="" class="hover:text-red-500 text-xs"
              >Chính Sách Bảo Hành</a
            >
          </li>
          <li class="py-2">
            <a href="" class="hover:text-red-500 text-xs">Điều Khoản Dịch Vụ</a>
          </li>
        </div>
      </div>
      <div class="">
        <p class="text-lg">Địa chỉ</p>
        <div class="text-sm">
          <b class="mt-3"> CÔNG TY CỔ PHẦN NHÓM 14</b>
          <div class="text-xs">
            <p class="py-2">VPGD: 37 Trung Kinh, Trung Hòa, Cầu Giấy, Hà Nội</p>
            <p>Facebook thời trang nam: Yêu Em</p>
            <p class="py-2">Facebook kids: Nhớ Lắm</p>
            <p>Hotline: 0973 285 886</p>
            <p class="py-2">Email: web@360boutique.vn</p>

            <img
              src="https://i.ibb.co/QbsLb9M/logo-Sale-Noti.png"
              alt=""
              class="w-40"
            />
          </div>
        </div>
      </div>

      <div class="">
        <p class="text-lg">Kết nối với nhóm 14</p>
        <div class="mt-2 flex">
          <a href="">
            <img
              src="https://i.ibb.co/vh5Qcwc/icons8-shopee-48.png"
              alt=""
              class="h-8"
            />
          </a>
          <a href="">
            <img
              src="    https://i.ibb.co/swcHQmW/t-i-xu-ng-2.png"
              alt=""
              class="h-9"
            />
          </a>
          <a href="">
            <img
              src=" https://i.ibb.co/HHXd4jB/t-i-xu-ng-3.png"
              alt=""
              class="h-9"
            />
          </a>
          <a href="">
            <img
              src=" https://i.ibb.co/VN0jYML/t-i-xu-ng.jpg"
              alt=""
              class="h-9"
            />
          </a>
          <a href="">
            <img
              src="  https://i.ibb.co/P1JrPYJ/t-i-xu-ng-4.png"
              alt=""
              class="h-8"
            />
          </a>
        </div>
        <div class="">
          <p class="text-lg mt-2">Đăng ký nhận tin từ nhóm 14</p>

          <div class="flex">
            <input
              type="text"
              placeholder="Nhập SDT của bạn "
              class="border border-gray-400 px-6 rounded-l-lg"
            />
            <button
              class="bg-blue-500 hover:bg-blue-700 text-white font-bold px-4 rounded-r-lg"
            >
              Đăng ký
            </button>
          </div>
        </div>
      </div>
      <div></div>
    </div>
  </div>
</div>
<div class="border-2"></div>
<div class="text-center bg-[#F3F3F3] py-3 px-2">
  <p>Nhóm 14</p>
</div>
